{
  "swagger": "2.0",
  "info": {
    "title": "Cudo Compute service",
    "version": "1.0.0"
  },
  "host": "rest.compute.cudo.org",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/api-keys": {
      "get": {
        "summary": "List",
        "description": "List the details of all API keys created by the requesting user. This does not include the API key itself which is only visible once when the API key is created.",
        "operationId": "ListApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListApiKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "API keys"
        ]
      },
      "post": {
        "summary": "Generate",
        "description": "Creates a new API key for the requesting user. The API key is returned in the response, and this is the only time it can be viewed.",
        "operationId": "GenerateApiKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateApiKeyRequest"
            }
          }
        ],
        "tags": [
          "API keys"
        ]
      }
    },
    "/v1/api-keys/{name}": {
      "delete": {
        "summary": "Delete",
        "description": "Deletes an API key, revoking all access for requests that use the key.",
        "operationId": "DeleteApiKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "API keys"
        ]
      }
    },
    "/v1/auth": {
      "get": {
        "summary": "Get",
        "description": "Responds with details of the user when suitable authentication material is sent with the request.",
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "tags": [
          "User"
        ]
      },
      "delete": {
        "summary": "Delete",
        "description": "Deletes your user, deleting all records of your user, and revoking access to every resource.",
        "operationId": "DeleteUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/v1/auth/create-identity-verification-session": {
      "get": {
        "summary": "Get identity verification session",
        "operationId": "CreateIdentityVerificationSession",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/IdentityVerificationSession"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/v1/auth/permissions": {
      "get": {
        "summary": "List",
        "operationId": "ListUserPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListUserPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataCenterId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingAccountId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/billing-accounts": {
      "get": {
        "summary": "List billing accounts",
        "operationId": "ListBillingAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBillingAccountsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Billing"
        ]
      },
      "post": {
        "summary": "Create a billing account",
        "operationId": "CreateBillingAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBillingAccountRequest"
            }
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/invoices": {
      "get": {
        "summary": "Get invoices",
        "operationId": "GetBillingAccountStripeInvoices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountStripeInvoicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/invoices/outstanding": {
      "get": {
        "summary": "Get outstanding invoices",
        "operationId": "ListOutstandingStripeInvoices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOutstandingStripeInvoicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{billingAccount.id}": {
      "patch": {
        "summary": "Update billing account",
        "operationId": "UpdateBillingAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "billingAccount.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBillingAccountBody"
            }
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{billingAccountId}/add-user-permission": {
      "post": {
        "summary": "Add billing account user",
        "operationId": "AddBillingAccountUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBillingAccountUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/billing-accounts/{billingAccountId}/remove-user-permission": {
      "post": {
        "summary": "Remove billing account user",
        "operationId": "RemoveBillingAccountUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveBillingAccountUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/billing-accounts/{billingAccountId}/spend/details": {
      "get": {
        "summary": "Get spend details",
        "operationId": "GetBillingAccountSpendDetails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountSpendDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}": {
      "get": {
        "summary": "Get a billing account",
        "operationId": "GetBillingAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      },
      "delete": {
        "summary": "Delete billing account",
        "operationId": "DeleteBillingAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/details": {
      "get": {
        "summary": "Get billing account details",
        "operationId": "GetBillingAccountDetails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods": {
      "get": {
        "summary": "Get payment methods",
        "operationId": "GetBillingAccountPaymentMethods",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccountPaymentMethods"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}": {
      "delete": {
        "summary": "Remove payment method",
        "operationId": "RemoveBillingAccountPaymentMethod",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RemoveBillingAccountPaymentMethodResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}/set-default": {
      "post": {
        "summary": "Set default payment method",
        "operationId": "SetBillingAccountDefaultPaymentMethod",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SetBillingAccountDefaultPaymentMethodResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/setup-intent": {
      "get": {
        "summary": "Get setup intent",
        "operationId": "GetBillingAccountSetupIntent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccountSetupIntent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/data-centers": {
      "get": {
        "summary": "List data centers",
        "description": "Returns the data centers in an organization",
        "operationId": "ListDataCenters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDataCentersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      },
      "post": {
        "summary": "Create data center",
        "description": "Creates a new data center",
        "operationId": "CreateDataCenter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1.DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1.DataCenter"
            }
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{dataCenter.id}": {
      "patch": {
        "summary": "Update data center",
        "description": "Updates a data center",
        "operationId": "UpdateDataCenter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1.DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenter.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataCenter",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "regionId": {
                  "type": "string"
                },
                "supplierName": {
                  "type": "string"
                },
                "renewableEnergy": {
                  "type": "boolean"
                },
                "lngLat": {
                  "$ref": "#/definitions/Point"
                },
                "createBy": {
                  "type": "string",
                  "readOnly": true
                },
                "oneFrontendId": {
                  "type": "string"
                },
                "s3Endpoint": {
                  "type": "string"
                }
              },
              "required": [
                "oneFrontendId",
                "s3Endpoint"
              ]
            }
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/add-user-permission": {
      "post": {
        "summary": "Add data center user",
        "operationId": "AddDataCenterUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddDataCenterUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/clusters": {
      "get": {
        "summary": "List clusters",
        "description": "Returns the clusters in a data center",
        "operationId": "ListClusters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/host-count": {
      "get": {
        "summary": "Get host count",
        "description": "Returns the number of hosts in a data center",
        "operationId": "CountHosts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountHostsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/hosts": {
      "get": {
        "summary": "List hosts",
        "description": "Returns the hosts in a data center",
        "operationId": "ListHosts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListHostsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types": {
      "get": {
        "summary": "Get",
        "operationId": "ListMachineTypes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMachineTypesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MachineTypes"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types/{machineType}": {
      "get": {
        "summary": "Get",
        "operationId": "GetMachineType",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMachineTypeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MachineTypes"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types/{machineType}/live-utilization": {
      "get": {
        "summary": "Get",
        "operationId": "GetMachineTypeLiveUtilization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMachineTypeLiveUtilizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MachineTypes"
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}/remove-user-permission": {
      "post": {
        "summary": "Remove data center user",
        "operationId": "RemoveDataCenterUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "dataCenterId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveDataCenterUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/data-centers/{id}": {
      "get": {
        "summary": "Get data center",
        "description": "Returns a data center",
        "operationId": "GetDataCenter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1.DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      },
      "delete": {
        "summary": "Delete data center",
        "description": "Deletes a data center",
        "operationId": "DeleteDataCenter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{id}/live-utilization": {
      "get": {
        "summary": "Get live utilization",
        "description": "Returns the live utilization of a data center",
        "operationId": "GetDataCenterLiveUtilization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterLiveUtilizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{id}/revenue": {
      "get": {
        "summary": "Get revenue time series",
        "description": "Returns the revenue of a data center over time",
        "operationId": "GetDataCenterRevenueTimeSeries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterRevenueTimeSeriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "INTERVAL_UNKNOWN",
              "INTERVAL_DAY",
              "INTERVAL_WEEK",
              "INTERVAL_MONTH"
            ],
            "default": "INTERVAL_UNKNOWN"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/data-centers/{id}/revenue-by-resource": {
      "get": {
        "summary": "Get revenue by resource",
        "description": "Returns the revenue of a data center by resource (CPU, Memory, Storage, etc.)",
        "operationId": "GetDataCenterRevenueByResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterRevenueByResourceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Data Centers"
        ]
      }
    },
    "/v1/project/{projectId}/ssh-keys": {
      "get": {
        "summary": "List SSH keys",
        "operationId": "ListProjectSshKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListProjectSshKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects": {
      "get": {
        "summary": "List",
        "operationId": "ListProjects",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "summary": "Create",
        "operationId": "CreateProject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "GetProject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Projects"
        ]
      },
      "delete": {
        "summary": "Delete",
        "operationId": "DeleteProject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{project.id}": {
      "patch": {
        "summary": "Update",
        "operationId": "UpdateProject",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "project.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "resourceCount": {
                  "type": "integer",
                  "format": "int32",
                  "readOnly": true
                },
                "createBy": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "required": [
                "billingAccountId"
              ]
            }
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{projectId}/add-user-permission": {
      "post": {
        "summary": "Add project user",
        "operationId": "AddProjectUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddProjectUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/projects/{projectId}/count-vms": {
      "get": {
        "summary": "Count",
        "operationId": "CountVMs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountVMsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/disk/{id}/attach": {
      "patch": {
        "summary": "Attach storage disk to VM",
        "operationId": "AttachStorageDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AttachStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disk/{id}/detach": {
      "put": {
        "summary": "Detach storage disk from VM",
        "operationId": "DetachStorageDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DetachStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disks": {
      "get": {
        "summary": "List disks",
        "operationId": "ListDisks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDisksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dataCenterId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      },
      "post": {
        "summary": "Create storage disk",
        "operationId": "CreateStorageDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateStorageDiskBody"
            }
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disks/{id}": {
      "get": {
        "summary": "List disks",
        "operationId": "GetDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      },
      "delete": {
        "summary": "Delete storage disk",
        "operationId": "DeleteStorageDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disks/{id}/revert": {
      "post": {
        "summary": "Revert Disk to Snapshot",
        "operationId": "RevertDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RevertDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshotId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disks/{id}/snapshots": {
      "get": {
        "summary": "List Disk Snapshots",
        "operationId": "ListDiskSnapshots",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDiskSnapshotsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      },
      "delete": {
        "summary": "Delete Disk Snapshots",
        "operationId": "DeleteDiskSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteDiskSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshotId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disks"
        ]
      },
      "post": {
        "summary": "Create Disk Snapshot",
        "operationId": "CreateDiskSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateDiskSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDiskSnapshotBody"
            }
          }
        ],
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/images": {
      "get": {
        "summary": "List private VM images",
        "operationId": "ListPrivateVMImages",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListPrivateVMImagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      },
      "post": {
        "summary": "Create private VM image",
        "operationId": "CreatePrivateVMImage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreatePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/images/{id}": {
      "get": {
        "summary": "Get private VM image",
        "operationId": "GetPrivateVMImage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      },
      "delete": {
        "summary": "Delete private VM image",
        "operationId": "DeletePrivateVMImage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeletePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      },
      "post": {
        "summary": "Update private VM image",
        "operationId": "UpdatePrivateVMImage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdatePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/networks": {
      "get": {
        "summary": "List networks",
        "operationId": "ListNetworks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListNetworksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Networks"
        ]
      },
      "post": {
        "summary": "Create network",
        "operationId": "CreateNetwork",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNetworkBody"
            }
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/networks/security-groups": {
      "get": {
        "summary": "List security groups",
        "operationId": "ListSecurityGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSecurityGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataCenterId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/networks/security-groups/{id}": {
      "get": {
        "summary": "Get a security group",
        "operationId": "GetSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      },
      "delete": {
        "summary": "Delete security group",
        "operationId": "DeleteSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/networks/{id}": {
      "get": {
        "summary": "Get network",
        "operationId": "GetNetwork",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      },
      "delete": {
        "summary": "Delete network",
        "operationId": "DeleteNetwork",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/networks/{id}/start": {
      "post": {
        "summary": "Start network",
        "operationId": "StartNetwork",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StartNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/networks/{id}/stop": {
      "post": {
        "summary": "Stop network",
        "operationId": "StopNetwork",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StopNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/activate": {
      "post": {
        "summary": "Allow the use of S3 compatible storage in a project",
        "operationId": "Activate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateBody"
            }
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/buckets": {
      "get": {
        "summary": "List buckets",
        "operationId": "ListObjectStorageBuckets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageBucketsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/buckets/{id}": {
      "get": {
        "summary": "Get details for a bucket",
        "operationId": "GetObjectStorageBucket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageBucket"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/session-key": {
      "get": {
        "summary": "Generate temporary key for storage bucket access",
        "operationId": "GetObjectStorageSessionKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetObjectStorageSessionKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataCenterId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/users": {
      "get": {
        "summary": "List storage users",
        "operationId": "ListObjectStorageUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageUsersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "post": {
        "summary": "Create user that stores keys for storage buckets",
        "operationId": "CreateObjectStorageUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateObjectStorageUserBody"
            }
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/users/{id}": {
      "delete": {
        "summary": "Delete object storage user",
        "operationId": "DeleteObjectStorageUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteObjectStorageUserResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "post": {
        "summary": "Generate access key for storage buckets",
        "operationId": "GenerateObjectStorageKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/users/{id}/keys": {
      "get": {
        "summary": "List storage user keys",
        "operationId": "ListObjectStorageKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/object-storage/users/{id}/keys/{accessKey}": {
      "delete": {
        "summary": "Delete object storage user key",
        "operationId": "DeleteObjectStorageKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteObjectStorageKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKey",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/v1/projects/{projectId}/remove-user-permission": {
      "post": {
        "summary": "Remove project user",
        "operationId": "RemoveProjectUserPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveProjectUserPermissionBody"
            }
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/v1/projects/{projectId}/vm": {
      "post": {
        "summary": "Create virtual machine",
        "operationId": "CreateVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateVMBody"
            }
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vm/{id}/metadata": {
      "post": {
        "summary": "Update VM metadata",
        "operationId": "UpdateVMMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateVMMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVMMetadataBody"
            }
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vm/{id}/security-group/attach": {
      "patch": {
        "summary": "Attach security group to VM",
        "operationId": "AttachSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AttachSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityGroupId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vm/{id}/security-group/detach": {
      "patch": {
        "summary": "Attach security group to VM",
        "operationId": "DetachSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DetachSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityGroupId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms": {
      "get": {
        "summary": "List",
        "operationId": "ListVMs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListVMsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "GetVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/connect": {
      "get": {
        "summary": "Connect via VNC",
        "operationId": "ConnectVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ConnectVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/disks": {
      "get": {
        "summary": "List disks attached to VM",
        "operationId": "ListVMDisks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListVMDisksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      },
      "patch": {
        "summary": "Resize a VM's disk",
        "operationId": "ResizeVMDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ResizeVMDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "diskId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sizeGib",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/monitor": {
      "get": {
        "summary": "Monitor",
        "operationId": "MonitorVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MonitorVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/reboot": {
      "post": {
        "summary": "Reboot",
        "operationId": "RebootVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RebootVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/resize": {
      "post": {
        "summary": "Resize vCPU and memory of VM",
        "operationId": "ResizeVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ResizeVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vcpus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "memoryGib",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/start": {
      "post": {
        "summary": "Start",
        "operationId": "StartVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StartVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/stop": {
      "post": {
        "summary": "Stop",
        "operationId": "StopVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StopVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/terminate": {
      "post": {
        "summary": "Terminate",
        "operationId": "TerminateVM",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/TerminateVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Virtual Machines"
        ]
      }
    },
    "/v1/projects/{securityGroup.projectId}/networks/security-groups": {
      "post": {
        "summary": "Create security group",
        "operationId": "CreateSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "securityGroup.projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityGroup",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dataCenterId": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/Rule"
                  }
                }
              },
              "required": [
                "dataCenterId",
                "id"
              ]
            }
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/projects/{securityGroup.projectId}/networks/security-groups/{securityGroup.id}": {
      "patch": {
        "summary": "Update security group",
        "operationId": "UpdateSecurityGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "securityGroup.projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityGroup.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityGroup",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dataCenterId": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/Rule"
                  }
                }
              },
              "required": [
                "dataCenterId"
              ]
            }
          }
        ],
        "tags": [
          "Networks"
        ]
      }
    },
    "/v1/regions": {
      "get": {
        "summary": "Regions",
        "operationId": "ListRegions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListRegionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "tags": [
          "Search"
        ]
      }
    },
    "/v1/ssh-keys": {
      "get": {
        "summary": "List",
        "operationId": "ListSshKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSshKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "SSH keys"
        ]
      },
      "post": {
        "summary": "Create",
        "operationId": "CreateSshKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SshKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "sshKey",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SshKey"
            }
          }
[...]
